<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie lt-ie9 lt-ie8 lt-ie7" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie9 lt-ie8" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if lt IE 10]>
<html class="ie ltie10" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>核心优势-小莺出国</title>
    <link rel="stylesheet" href="__PUBLIC__/Common/css/reset.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Common/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Open/css/animate.min.css">
    <link rel="stylesheet" href="__PUBLIC__/advantage/css/index.css">
    <script type="text/javascript" src="__PUBLIC__/Open/js/jquery-1.9.1.min.js"></script>
</head>

<body>
    <include file="./Template/Common/View_header_class.html" />
    <div class="marginTop">
        <div class="banner">
        	<div class="container clearfix">
        		<img src="../../Public/advantage/img/banner_teacher.png" alt="" class="banner_teacher" data-sr="enter left hustle 150px over 1s">
        		<div class="infodesc">
                    <img src="../../Public/advantage/img/banner_fonta.png" alt="" class="banner_fonta" data-sr="enter top hustle 150px over 1s">
        			<div class="line" data-sr="hustle 30%, wait 0.2s">
                        <img src="../../Public/advantage/img/banner_check.png" alt="">        
                        <span class="fs_36">18年一线教学经验</span> 
                    </div>
                    <div class="line width_50" data-sr="hustle 30%, wait 0.2s">
                        <img src="../../Public/advantage/img/banner_check.png" alt="">        
                        <span class="">1站式直通留学申请</span> 
                    </div>
                    <div class="line width_50" data-sr="hustle 30%, wait 0.4s">
                        <img src="../../Public/advantage/img/banner_check.png" alt="">        
                        <span class="">6对一讲师顾问服务</span> 
                    </div>
                    <div class="line width_50" data-sr="hustle 30%, wait 0.6s">
                        <img src="../../Public/advantage/img/banner_check.png" alt="">        
                        <span class="">留学顾问0秒回复</span> 
                    </div>
                    <div class="line width_50" data-sr="hustle 30%, wait 0.8s">
                        <img src="../../Public/advantage/img/banner_check.png" alt="">        
                        <span class="">累计超1万留学案例</span> 
                    </div>
        		</div>
        	</div>
        </div>
        <div class="main_content">
            <div class="titleDv">
                8年耕耘丰富的案例与院校导师数据储备<br />
                <span class="en_font">Rich case and college tutor data reserve</span>
            </div>
        </div>
    </div>
    <include file="./Template/Common/View_footer.html" />
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
    <script src="__PUBLIC__/Mall/js/scrollReveal.min.js"></script>
    <script src="../../Public/advantage/js/index.js"></script>
</body>

</html>