<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie lt-ie9 lt-ie8 lt-ie7" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie9 lt-ie8" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if lt IE 10]>
<html class="ie ltie10" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>日本语言学校-小莺出国</title>
    <link rel="stylesheet" href="__PUBLIC__/Common/css/reset.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Common/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Open/css/animate.min.css">
    <link rel="stylesheet" href="__PUBLIC__/School/css/detail/jpyy.css">
    <script type="text/javascript" src="__PUBLIC__/Open/js/jquery-1.9.1.min.js"></script>
    <script src="../../Public/plugin/background-blur.js"></script>
</head>

<body>
    <include file="./Template/Common/View_header_home.html" />
    <div id="jpyy_detail" class="marginTop">
        <div class="topDeatailPart">
            <div class="cover_banner_part"></div>
            <div class="container maininfo clearfix">
                <div class="left leftPart">
                    <div class="imgDv">
                        <img src="../../Public/Common/img/school/random5.jpg" alt="" data-adaptive-background='1' data-description='grandpa' class="imgs">
                    </div>
                </div>
                <div class="right rightPart">
                    <p class="name">东京大学</p>
                    <a href="http://www.u-tokyo.ac.jp/" class="url_href" target="_blank">http://www.u-tokyo.ac.jp/</a>
                    <ul class="listinfo clearfix">
                        <li class="itemli clearfix">
                            <span class="s_title">学校性质：</span>
                            <span class="s_content">国立</span>
                        </li>
                        <li class="itemli clearfix">
                            <span class="s_title">每年学费：</span>
                            <span class="s_content">76万（日元）</span>
                        </li>
                        <li class="itemli clearfix">
                            <span class="s_title">学校电话：</span>
                            <span class="s_content">400 015 1710</span>
                        </li>
                        <li class="itemli clearfix">
                            <span class="s_title">录取比例：</span>
                            <span class="s_content">80%</span>
                        </li>
                        <li class="itemli clearfix full">
                            <span class="s_title">学校地址：</span>
                            <span class="s_content">東京都千代田区岩本町2-13-12</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div style="background-color: #f7f7f7;">
	        <div class="container clearfix detailInfo">
	        	<div class="left leftDv">
	        		<ul class="chooseul">
	        			<li class="item_li tab1 active">学校介绍</li>			
	        			<li class="item_li tab2">学校专业</li>			
	        			<li class="item_li tab3">学校图库</li>			
	        			<li class="item_li tab4">地理交通</li>			
	        			<li class="item_li tab5">留学攻略</li>			
	        		</ul>
                    <div class="maincontent">
                        <div class="mm_main" id="tab1">
                            <div class="mm_header">
                            <h3>学校历史</h3>
                        </div>
                            <div class="mm_content">
                                 东京大学部分科系最早可以溯源到灵元天皇时期，学校主体由“东京开成学校”与“东京医学校”在明治维新期间合并改制而成。作为资本主义文明浪潮冲击下的直接产物，东京大学有着举足轻重的历史性地位，它培养了包括1名菲尔兹奖得主、6名沃尔夫奖得主、8名诺贝尔奖得主、16位日本首相、21位(帝国)国会议长在内的一大批学术名家、工商巨子、政经菁英，是日本重要的政商、文化阵地，是日本最高学术殿堂、是亚洲乃至世界最顶尖的科研教育机构之一。
                            </div>
                        </div>
                        <div class="mm_main" id="tab2">
                            <div class="mm_header">
                            <h3>学校特色</h3>
                        </div>
                            <div class="mm_content">
                                      东京大学是所历史悠久的著名大学，它保持着传统大学的特征：多学院、多学科。目前全校的学科差不多全是老学科，办学水平很高，几乎所有学科均能授予硕士和博士学位。对新建学科和教学上的改革持慎重的态度，他们认为必须保持学校的一贯传统，不要人云亦云，方能办出高质量和自己的特色。“以质取胜，以质取量”是东京大学的办学目标，全校教职员工是这样认为的：保持学校的稳定和学术上的高水平是维系学校尊严和荣誉所不可缺少的。因此他们在培养人才方面着眼于高质量，为达到这个目标，他们采取了一些措施：为控制学校规模，不宜把学校办得过大，以维持学校运转的高效率，目前一直把本科学生人数控制在15000人左右;强调大学在搞好教学同时，开展科学研究，多出世界前沿的学术成果;精心选择，建设一支高质量的教授队伍;教学上强调基础知识教育，规定4年制大学生必须有两年时间在教养学部学习共同必修基础课和一部分专业基础课;建立导师带研究生制度，对研究生严格要求，同时充满爱心，悉心指导等等。 
                            </div>
                        </div>
                        <div class="mm_main" id="tab3">
                            <div class="mm_header">
                            <h3>学校管理</h3>
                        </div>
                            <div class="mm_content">
                                       除了管理奖学金、支援留学生等服务性部门，东京大学的各个院系几乎都没有专门的行政人员。每个院系的管理者，就是它们自己的教授和老师，甚至连学籍管理、网络维护这些杂事都是由教师们亲力亲为。在这样的管理模式下，每个院系甚至每个老师都享有高度的自治权，他们的每一个行政措施，都是为教学和科研服务的。在这样的管理模式下，东京大学的学术自由得到了充分发挥。
                            </div>
                        </div>
                        <div class="mm_main" id="tab4">
                            <div class="mm_header">
                                <h3>学校设施</h3>
                            </div>
                            <div class="mm_content">
                                   东京大学校区设在东京都内文京区本乡，占地面积 40 公顷 ，全校绝大部分机构均在这里。另外在目黑区驹场另建一新校区，为教养学部及部分后勤设施所在地。附属学校、工同研究部门，实验实习基地(如农场、林场、地震、火山、天文等观察站)、师生员工宿舍等分布于全国各地。原校本区的旧校门枣红门所在地，原为江户时代藩主迎接家庭成员的地方，大门被漆成朱红色。后经东京大地震和第二次世界大战的破坏，1949年被国家定为重点文物。1991年重新修缮一新，十分有气派，现红门成为东京大学的代名词。
                            </div>
                        </div>
                    </div>
	        	</div>
	        </div>
        </div>
    </div>
    <include file="./Template/Common/View_loading.html" />
    <include file="./Template/Common/View_footer.html" />
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
    <script>
    $(".cover_banner_part").backgroundBlur({
	    imageURL : '../../Public/Common/img/school/random5.jpg',
	    blurAmount : 10,
	    duration: 1000,
	    endOpacity : 1
	});
    </script>
</body>

</html>