<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie lt-ie9 lt-ie8 lt-ie7" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie9 lt-ie8" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if lt IE 10]>
<html class="ie ltie10" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>日本大学-小莺出国</title>
    <link rel="stylesheet" href="__PUBLIC__/Common/css/reset.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Common/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Open/css/animate.min.css">
    <link rel="stylesheet" href="__PUBLIC__/School/css/index.css">
    <script type="text/javascript" src="__PUBLIC__/Open/js/jquery-1.9.1.min.js"></script>
    <script src="http://crm.xiaoying.net/Public/js/xiaoying_form.js"></script>
</head>
<body>
    <include file="./Template/Open/View_header.html"/>
    <div id="studying" class="marginTop">
        <include file="./Template/Studying/View_Banner.html" />
        
    </div>
    <include file="./Template/Common/View_loading.html"/>
    <include file="./Template/Common/View_footer.html"/>

    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
    <script src="__PUBLIC__/Mall/js/scrollReveal.min.js"></script>
    <script src="../../Public/Studying/js/index.js"></script>
</body>

</html>