<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie lt-ie9 lt-ie8 lt-ie7" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie9 lt-ie8" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if lt IE 10]>
<html class="ie ltie10" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>留学商城-小莺出国</title>
    <link rel="stylesheet" href="__PUBLIC__/Common/css/reset.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Common/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Open/css/animate.min.css">
    <link href="__PUBLIC__/plugin/swiper4/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/Mall/css/index.css">
    <script type="text/javascript" src="__PUBLIC__/Open/js/jquery-1.9.1.min.js"></script>
    <script src="http://crm.xiaoying.net/Public/js/xiaoying_form.js"></script>
</head>

<body>
    <include file="./Template/Common/View_header_class.html" />
    <include file="./Template/Mall/View_toolbar.html" />
    <div id="mall">
        <div class="banner marginTop">
            <div class="bannerSlider">
                <div class="container clearfix">
                    <div class="animationpart">
                        <img src="__PUBLIC__/Mall/img/banner_a.png" alt="" class="banner_a">
                        <img src="__PUBLIC__/Mall/img/banner_plane.png" alt="" class="banner_plane">
                    </div>
                    <div class="xiaoying-index-top-right formpart">
                        <p class="p-title">免费试听课</p>
                        <div class="dv-content">
                            <div class="xy_form xy_form_a">
                                <div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_SELECT" style="display: none;">
                                    <div class="lineDv">
                                        <select name="" id="">
                                            <option value="">意向国家</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_INPUT" style="display: none;">
                                    <div class="lineDv">
                                        <input type="text" placeholder="您的姓名">
                                    </div>
                                </div>
                            </div>
                            <div class="xy_submit xy_submit_a">在线评估预约</div>
                        </div>
                        <ul class="s-tool-part" onclick="_MEIQIA('showPanel')">
                            <li>
                                <img src="__PUBLIC__/Mall/img/ba_1.jpg" alt=""> 日语测评
                            </li>
                            <li>
                                <img src="__PUBLIC__/Mall/img/ba_2.jpg" alt=""> 口语评测
                            </li>
                            <li>
                                <img src="__PUBLIC__/Mall/img/ba_3.jpg" alt=""> GPA计算器
                            </li>
                            <li>
                                <img src="__PUBLIC__/Mall/img/ba_4.jpg" alt=""> 选课系统
                            </li>
                            <li>
                                <img src="__PUBLIC__/Mall/img/ba_5.jpg" alt=""> 微信公众号
                            </li>
                            <li>
                                <img src="__PUBLIC__/Mall/img/ba_6.jpg" alt=""> 大学排名
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="team">
            <div class="titleDv" data-sr="enter top hustle 50px over 1s">
                <p class="s_t">原汁原味的</p>
                <p class="b_t">日本名校教学团队</p>
            </div>
            <!-- <ul class="tabheader" data-sr="hustle 30%, wait 0.4s">
                <li class="item active">专属教学团队</li>
                <li class="item">严选日本外教</li>
                <li class="item">自主开发教材</li>
                <li class="item">签约保证承诺</li>
            </ul> -->
            <div class="tabcontent container" data-sr="hustle 30%">
                <div class="main_content">
                    <h3>专属教学团队</h3>
                    <h4>小莺具备近百名专业教学研究团队，针对留学日语，日本大学考试面试进行深入研究提供专业课程</h4>
                    <img src="__PUBLIC__/Mall/img/a_1.jpg" alt="">
                </div>
                <div class="main_content">
                    <h3>严选日本外教</h3>
                    <h4>从不妥协成本，坚持选择认真负责，具备丰富教学经验的日本本土外教</h4>
                    <img src="__PUBLIC__/Mall/img/a_2.jpg" alt="">
                </div>
                <div class="main_content">
                    <h3>自主研发教材</h3>
                    <h4>历经十年开发，形成一套融合留学日语，日语外教口语能力的一套完善教学体系</h4>
                    <img src="__PUBLIC__/Mall/img/a_3.jpg" alt="">
                </div>
                <div class="main_content">
                    <h3>签约保证承诺</h3>
                    <h4>签约保证，未能达到效果，持续辅导，提高能力 </h4>
                    <img src="__PUBLIC__/Mall/img/a_4.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="openclass">
            <div class="titleDv" data-sr="enter top hustle 50px over 1s">
                <p class="s_t">专属小莺出国</p>
                <p class="b_t">热门课程</p>
            </div>
            <div class="container">
                <div class="modular xiushi-wapper">
                    <div class="s_title">
                        <img src="__PUBLIC__/Mall/img/s_xiushi.png" alt="">修士考试课程
                        <ul class="paixu">
                            <li class="active js-change" data-num="0">最新发布</li>
                            <li class="js-change" data-num="1">最多报名</li>
                        </ul>
                    </div>
                    <div class="swiper-container-xiushi home_index_swiper_container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-no-swiping">
                                <ul class="ullist">
                                    <li class="li" v-for="n in xiushi.by_new">
                                        <a :href="'/mall/detail?id='+n.id" style="display: block;">
                                            <div class="imgDv">
                                                <img :src="'http://crm.xiaoying.net'+n.pic" alt="" v-if="n.pic">
                                                <img src="__PUBLIC__/Common/img/class/class.jpg" alt="" v-else>
                                            </div>
                                            <div class="inner">
                                                <h4 :title="n.name">{{n.name}}</h4>
                                                <p>开始时间：{{n.start_time | filtertime}} | {{n.section_num}}课时
                                                    <br />{{n.teacher_name | filtername}}</p>
                                                <div class="detailinfo clearfix">
                                                    <div class="price">
                                                        立即报名
                                                    </div>
                                                    <div class="enroll">{{n.people_num}}人报名</div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="swiper-slide swiper-no-swiping">
                                <ul class="ullist">
                                    <li class="li" v-for="n in xiushi.by_people">
                                        <a :href="'/mall/detail?id='+n.id" style="display: block;">
                                            <div class="imgDv">
                                                <img :src="'http://crm.xiaoying.net'+n.pic" alt="" v-if="n.pic">
                                                <img src="__PUBLIC__/Common/img/class/class.jpg" alt="" v-else>
                                            </div>
                                            <div class="inner">
                                                <h4 :title="n.name">{{n.name}}</h4>
                                                <p>开始时间：{{n.start_time | filtertime}} | {{n.section_num}}课时
                                                    <br />{{n.teacher_name | filtername}}</p>
                                                <div class="detailinfo clearfix">
                                                    <div class="price">
                                                        立即报名
                                                    </div>
                                                    <div class="enroll">{{n.people_num}}人报名</div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="modular qianyue-wapper">
                    <div class="s_title">
                        <img src="__PUBLIC__/Mall/img/s_xiaonei.png" alt="">签约保送课程
                        <ul class="paixu">
                            <li class="active js-change" data-num="0">最新发布</li>
                            <li class="js-change" data-num="1">最多报名</li>
                        </ul>
                    </div>
                    <div class="swiper-container-qianyue home_index_swiper_container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-no-swiping">
                                <ul class="ullist" data-sr="enter top hustle 50px over 1s">
                                    <li class="li" v-for="n in qianyue.by_new">
                                        <a :href="'/mall/detail?id='+n.id" style="display: block;">
                                            <div class="imgDv">
                                                <img :src="'http://crm.xiaoying.net'+n.pic" alt="" v-if="n.pic">
                                                <img src="__PUBLIC__/Common/img/class/class.jpg" alt="" v-else>
                                            </div>
                                            <div class="inner">
                                                <h4 :title="n.name">{{n.name}}</h4>
                                                <p>开始时间：{{n.start_time | filtertime}} | {{n.section_num}}课时
                                                    <br />{{n.teacher_name | filtername}}</p>
                                                <div class="detailinfo clearfix">
                                                    <div class="price">
                                                        立即报名
                                                    </div>
                                                    <div class="enroll">{{n.people_num}}人报名</div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="swiper-slide swiper-no-swiping">
                                <ul class="ullist" data-sr="enter top hustle 50px over 1s">
                                    <li class="li" v-for="n in qianyue.by_people">
                                        <a :href="'/mall/detail?id='+n.id" style="display: block;">
                                            <div class="imgDv">
                                                <img :src="'http://crm.xiaoying.net'+n.pic" alt="" v-if="n.pic">
                                                <img src="__PUBLIC__/Common/img/class/class.jpg" alt="" v-else>
                                            </div>
                                            <div class="inner">
                                                <h4 :title="n.name">{{n.name}}</h4>
                                                <p>开始时间：{{n.start_time | filtertime}} | {{n.section_num}}课时
                                                    <br />{{n.teacher_name | filtername}}</p>
                                                <div class="detailinfo clearfix">
                                                    <div class="price">
                                                        立即报名
                                                    </div>
                                                    <div class="enroll">{{n.people_num}}人报名</div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modular liukao-wapper">
                    <div class="s_title">
                        <img src="__PUBLIC__/Mall/img/s_xiaonei.png" alt="">留考校内考课程
                        <ul class="paixu">
                            <li class="active js-change" data-num="0">最新发布</li>
                            <li class="js-change" data-num="1">最多报名</li>
                        </ul>
                    </div>
                    <div class="swiper-container-liukao home_index_swiper_container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-no-swiping">
                                <ul class="ullist" data-sr="enter top hustle 50px over 1s">
                                    <li class="li" v-for="n in liukao.by_new">
                                        <a :href="'/mall/detail?id='+n.id" style="display: block;">
                                            <div class="imgDv">
                                                <img :src="'http://crm.xiaoying.net'+n.pic" alt="" v-if="n.pic">
                                                <img src="__PUBLIC__/Common/img/class/class.jpg" alt="" v-else>
                                            </div>
                                            <div class="inner">
                                                <h4 :title="n.name">{{n.name}}</h4>
                                                <p>开始时间：{{n.start_time | filtertime}} | {{n.section_num}}课时
                                                    <br />{{n.teacher_name | filtername}}</p>
                                                <div class="detailinfo clearfix">
                                                    <div class="price">
                                                        立即报名
                                                    </div>
                                                    <div class="enroll">{{n.people_num}}人报名</div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="swiper-slide swiper-no-swiping">
                                <ul class="ullist" data-sr="enter top hustle 50px over 1s">
                                    <li class="li" v-for="n in liukao.by_people">
                                        <a :href="'/mall/detail?id='+n.id" style="display: block;">
                                            <div class="imgDv">
                                                <img :src="'http://crm.xiaoying.net'+n.pic" alt="" v-if="n.pic">
                                                <img src="__PUBLIC__/Common/img/class/class.jpg" alt="" v-else>
                                            </div>
                                            <div class="inner">
                                                <h4 :title="n.name">{{n.name}}</h4>
                                                <p>开始时间：{{n.start_time | filtertime}} | {{n.section_num}}课时
                                                    <br />{{n.teacher_name | filtername}}</p>
                                                <div class="detailinfo clearfix">
                                                    <div class="price">
                                                        立即报名
                                                    </div>
                                                    <div class="enroll">{{n.people_num}}人报名</div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="modular gongkai-wapper">
                    <div class="s_title">
                        <img src="__PUBLIC__/Mall/img/s_xiaonei.png" alt="">热门公开课
                        <ul class="paixu">
                            <li class="active js-change" data-num="0">最新发布</li>
                            <li class="js-change" data-num="1">最多报名</li>
                        </ul>
                    </div>
                    <div class="swiper-container-gongkai home_index_swiper_container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-no-swiping">
                                <ul class="ullist" data-sr="enter top hustle 50px over 1s">
                                    <li class="li" v-for="n in gongkai.by_new">
                                        <a :href="'/mall/detail?id='+n.id" style="display: block;">
                                            <div class="imgDv">
                                                <img :src="'http://crm.xiaoying.net'+n.pic" alt="" v-if="n.pic">
                                                <img src="__PUBLIC__/Common/img/class/class.jpg" alt="" v-else>
                                            </div>
                                            <div class="inner">
                                                <h4 :title="n.name">{{n.name}}</h4>
                                                <p>开始时间：{{n.start_time | filtertime}} | {{n.section_num}}课时
                                                    <br />{{n.teacher_name | filtername}}</p>
                                                <div class="detailinfo clearfix">
                                                    <div class="price">
                                                        立即报名
                                                    </div>
                                                    <div class="enroll">{{n.people_num}}人报名</div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="swiper-slide swiper-no-swiping">
                                <ul class="ullist" data-sr="enter top hustle 50px over 1s">
                                    <li class="li" v-for="n in gongkai.by_people">
                                        <a :href="'/mall/detail?id='+n.id" style="display: block;">
                                            <div class="imgDv">
                                                <img :src="'http://crm.xiaoying.net'+n.pic" alt="" v-if="n.pic">
                                                <img src="__PUBLIC__/Common/img/class/class.jpg" alt="" v-else>
                                            </div>
                                            <div class="inner">
                                                <h4 :title="n.name">{{n.name}}</h4>
                                                <p>开始时间：{{n.start_time | filtertime}} | {{n.section_num}}课时
                                                    <br />{{n.teacher_name | filtername}}</p>
                                                <div class="detailinfo clearfix">
                                                    <div class="price">
                                                        立即报名
                                                    </div>
                                                    <div class="enroll">{{n.people_num}}人报名</div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 
                <div class="s_title">
                    <img src="__PUBLIC__/Mall/img/s_open.png" alt="">热门公开课
                    <ul class="paixu">
                        <li class="active">最新发布</li>
                        <li>最多报名</li>
                    </ul>
                </div>
                <ul class="ullist" data-sr="enter top hustle 50px over 1s">
                    <li class="li" v-for="n in gongkai">
                        <a :href="'/mall/detail?id='+n.id" style="display: block;">
                            <div class="imgDv">
                                <img :src="'http://crm.xiaoying.net'+n.pic" alt="" v-if="n.pic">
                                <img src="__PUBLIC__/Common/img/class/class.jpg" alt="" v-else>
                            </div>
                            <div class="inner">
                                <h4 :title="n.name">{{n.name}}</h4>
                                <p>开始时间：{{n.start_time | filtertime}} | {{n.section_num}}课时
                                    <br />{{n.teacher_name | filtername}}</p>
                                <div class="detailinfo clearfix">
                                    <div class="price">
                                        立即报名
                                    </div>
                                    <div class="enroll">186人报名</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul> -->
            </div>
        </div>
        <div class="free container">
            <div class="titleDv" data-sr="enter top hustle 50px over 1s">
                <p class="b_t">如何免费体验</p>
                <p class="s_t" style="margin-left: 20px;">小莺出国课程 </p>
            </div>
            <div class="clearfix" style="margin: 60px 0;">
                <ul class="list left">
                    <li class="item clearfix" data-sr="enter left, opacity 0">
                        <span class="num">1</span>
                        <p>在线注册
                            <br />
                            <font>注册成功免费领取 <span class="color-red">300元</span>试听课</font>
                        </p>
                    </li>
                    <li class="item clearfix" data-sr="enter left, opacity 0">
                        <span class="num">2</span>
                        <p>顾问预约
                            <br />
                            <font>与您确定试听时间</font>
                        </p>
                    </li>
                    <li class="item clearfix" data-sr="enter left, opacity 0">
                        <span class="num">3</span>
                        <p>进入教室
                            <br />
                            <font>无需下载一键进入教室，与老师实时沟通</font>
                        </p>
                    </li>
                </ul>
                <a href="" class="right">查看详情</a>
            </div>
            <img src="__PUBLIC__/Mall/img/three_step.jpg" alt="" class="three_step" data-sr="enter left, fade 0">
            <div class="dada-experience-item" style="bottom: 110px; left: 50px;" data-sr="enter top hustle 50px over 1s">
                <div class="innerDv">
                    <div class="js-dada-experience-item">
                        <img src="__PUBLIC__/Mall/img/pic_before_class@1x.png" alt="">
                        <div class="inner">
                            <span>课前</span>
                            <p>预习视频
                                <br>预览课件
                                <br>提前准备</p>
                        </div>
                    </div>
                </div>
                <p class="de_info">
                    课前学生可提前20分钟进入教室，观看视频预习新内容，也可查看上节课视频回放巩固上节课内容。
                </p>
            </div>
            <div class="dada-experience-item" style="bottom: 290px;left: 470px;" data-sr="enter top hustle 50px over 1s">
                <div class="innerDv">
                    <div class="js-dada-experience-item">
                        <img src="__PUBLIC__/Mall/img/pic_in_class@1x.png" alt="">
                        <div class="inner">
                            <span>课中</span>
                            <p>小班授课
                                <br>出勤率统计
                                <br>家长实时监控</p>
                        </div>
                    </div>
                </div>
                <p class="de_info">
                    自主研发双向互动视频教室，外教1对1教学，注意力100%在学生身上，边学边涂鸦充分参与其中。
                </p>
            </div>
            <div class="dada-experience-item" style="bottom: 110px;left: 860px;" data-sr="enter top hustle 50px over 1s">
                <div class="innerDv">
                    <div class="js-dada-experience-item">
                        <img src="__PUBLIC__/Mall/img/pic_after_class@1x.png" alt="">
                        <div class="inner">
                            <span>课后</span>
                            <p>讲师点评
                                <br>阶段评测
                                <br>回看录像</p>
                        </div>
                    </div>
                </div>
                <p class="de_info">
                    每次上完课程，外教都会给孩子进行点评，说优点讲不足。家长可以参考外教点评帮助孩子快速成长。
                </p>
            </div>
        </div>
        <div class="case">
            <div class="titleDv" data-sr="enter top hustle 50px over 1s">
                <p class="s_t">成功案例与 </p>
                <p class="b_t">学员口碑</p>
            </div>
            <div class="swiper-container container" id="swiper-case">
                <ul class="model_list clearfix container swiper-wrapper" id="model_list">
                    <li class="item_li swiper-slide" v-for="(n,index) in cases">
                        <a href="/case/detail?id=" target="_blank">
                            <img :src="n.headfile == null ? '/Public/random/student/'+_arr[index]+'.jpg' : n.headfile" class="faceImg">
                            <h3>{{n.names}}</h3>
                            <span>成功录取{{n.receive_college}} {{n.receive_major}}</span>
                            <div class="clearfix inner">
                                <div class="" v-if="n.eng_language">{{n.eng_language}}</div>
                                <div class="" v-else>{{n.japan_language}}</div>
                            </div>
                            <h2>非常感谢小莺的老师,非常感谢小莺的老师，非常感谢小莺的老师，非常感谢小莺的老师，非常感谢小莺的老师，非常感谢小莺的老师
                                <img src="__PUBLIC__/Case/img/left_quote.png">
                                <img src="__PUBLIC__/Case/img/right_quote.png">
                            </h2>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footerbottom">
            <div class="container clearfix">
                <div class="xiaoying-honor">
                    <div class="clearfix">
                        <h4>海外院校授权</h4>
                        <a href="javascript:;">查看更多 ></a>
                    </div>
                    <div class="swiper-container" id="swiper-honor">
                        <ul class="swiper-wrapper">
                            <li class="swiper-slide" v-for="n in shouquanData">
                                <div class="dada-honor-wrapper">
                                    <img :src="'__PUBLIC__/Mall/img/shouquan/'+n.imgUrl+'.jpg'" alt="">
                                    <p>{{n.name}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="dada-honor-right">
                    <div class="dada-honor-title">
                        <h4>媒体报道</h4>
                        <div class="dada-honor-list">
                            <div>
                                <img src="__PUBLIC__/Mall/img/meiti/fenghuang.jpg" alt="">
                            </div>
                            <div>
                                <img src="__PUBLIC__/Mall/img/meiti/jinritoutiao.jpg" alt="">
                            </div>
                            <div>
                                <img src="__PUBLIC__/Mall/img/meiti/souhu.jpg" alt="">
                            </div>
                            <div>
                                <img src="__PUBLIC__/Mall/img/meiti/wangyi.jpg" alt="">
                            </div>
                            <div>
                                <img src="__PUBLIC__/Mall/img/meiti/36kr.jpg" alt="">
                            </div>
                            <div>
                                <img src="__PUBLIC__/Mall/img/meiti/yy.jpg" alt="">
                            </div>
                            <div>
                                <img src="__PUBLIC__/Mall/img/meiti/sina.jpg" alt="">
                            </div>
                            <div>
                                <img src="__PUBLIC__/Mall/img/meiti/hujiang.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file="./Template/Common/View_footer.html" />
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
    <script src="__PUBLIC__/plugin/swiper4/swiper.min.js"></script>
    <script src="__PUBLIC__/Mall/js/scrollReveal.min.js"></script>
    <script src="__PUBLIC__/Mall/js/index.js"></script>
</body>

</html>