<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie lt-ie9 lt-ie8 lt-ie7" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie9 lt-ie8" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if lt IE 10]>
<html class="ie ltie10" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>留学商城-小莺出国</title>
    <link rel="stylesheet" href="__PUBLIC__/Common/css/reset.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Common/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Open/css/animate.min.css">
    <link href="/Public/plugin/swiper2/idangerous.swiper.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/Mall/css/detail.css?v=201810151310">
    <script type="text/javascript" src="__PUBLIC__/Open/js/jquery-1.9.1.min.js"></script>
    <script src="http://crm.xiaoying.net/Public/js/xiaoying_form.js"></script>
</head>

<body>
    <include file="./Template/Common/View_header_class.html" />
    <include file="./Template/Mall/View_toolbar.html" />
    <div id="malldetail" class="marginTop">
	    <div class="topinfo">
	        <div class="container clearfix">
	            <div class="imgDv">
	                <img v-if="detail.pic != null && detail.pic != '' && detail.pic != 0" :src="'http://crm.xiaoying.net/'+detail.pic" alt="">
                    <img v-else src="../../Public/Common/img/class/class.jpg" alt="">
	            </div>
	            <div class="r_info">
	                <p class="name">{{detail.name}}</p>
	                <!-- <div class="s_line">
	                    <span class="s_title">促销价：</span>
	                    <span class="s_price" style="color:#db555a">￥<font>--</font></span>
	                </div> -->
	                <div class="s_line">
	                    <span class="s_title">课时：</span>
	                    <span class="s_price">共{{detail.section_num}}课时</span>
	                </div>
	                <div class="s_line" v-if="detail.start_time">
	                    <span class="s_title">课程开始时间：</span>
	                    <span class="s_price">{{detail.start_time}}</span>
	                </div>
	                <div class="groupDv">
	                    <a href="javascript:;" onclick="_MEIQIA('showPanel')">在线咨询</a>
	                    <a href="javascript:;" @click="sscroll()"><img src="../../Public/Mall/img/play.png" alt="" class="play">试听</a>
	                </div>
	            </div>
	        </div>
	    </div>
        <div class="container clearfix mainninp">
            <div class="left l_part">
                <div class="tabDv">
                    <ul class="tabHeader clearfix">
                        <li class="active" data-flag="tab1">简介</li>
                        <li data-flag="tab2" v-if="detail.sections && detail.sections.length > 0">课程表</li>
                        <li data-flag="tab3" v-if="detail.show_course && detail.show_course.length > 0">子课程</li>
                    </ul>
                    <div id="desc_content" class="tabcontent tab1 active">
                        <h3 class="s_s_title">简介</h3>
                        <div v-if="detail.detail" v-html="detail.detail"></div>
                        <p v-else class="nodate">暂无简介</p>
                    </div>
                    <div class="tabcontent tab2" v-if="detail.sections && detail.sections.length > 0">
                        <h3 class="s_s_title">课程表</h3>
                        <ul v-if="detail.sections && detail.sections.length > 0" class="curriculum-ul course1">
                            <li class="js-show" v-for="n in detail.sections">
                                <img src="../../Public/Mall/img/play_b.png" alt="" class="play">
                                <div class="jm-fl">
                                    <p>{{n.name}}</p>
                                    <p>时长：{{n.duration}}分钟</p>
                                </div>
                                <!-- 录播判断 -->
                                <template v-if="(n.video_path != null && n.is_free == 1) || (type != 'class' && detail.is_open == 1)">
                                    <img src="../../Public/Mall/img/playback.png" alt="" class="playback" @click="play(n.video_path)">
                                </template>
                                <!-- 直播判断 -->
                                <template v-if="(n.zhibo_path != '' && n.is_free == 1) || (type != 'class' && detail.is_open == 1)">
                                    <img src="../../Public/Mall/img/playback.png" alt="" class="playback" @click="play(n.zhibo_path)">
                                </template>
                                <template v-else>
                                    <img src="../../Public/Mall/img/g_playback.png" alt="" class="playback" style="cursor: default;">
                                </template>
                            </li>
                        </ul>
                        <p v-else class="nodate">暂无简介</p>
                    </div>
                    <div class="tabcontent tab3">
                        <h3 class="s_s_title">子课程</h3>
                        <ul v-if="detail.show_course && detail.show_course.length > 0" class="media">
                            <li class="m_li" v-for="item in detail.show_course">
                                <img v-if="!item.pic" src="../../Public/Common/img/class/class.jpg" alt="">
                                <img v-else :src="'http://crm.xiaoying.net'+item.pic" alt="">
                                <h3>{{item.name}}</h3>
                            </li>
                        </ul>
                        <p v-else class="nodate">暂无简介</p>
                    </div>
                </div>
            </div>
            <div class="right r_part">
			    <div class="clearfix">
			        <h3 class="left">推荐课程</h3>
			        <span class="change right" @click="huanyihuan()"><img src="__PUBLIC__/Open/images/change.png" alt="">换一换</span>
			    </div>
			    <ul class="listUl">
			        <li class="li" v-for="n in tuijian">
                        <a :href="'/mall/detail?id='+n.id+'&type=class'" style="display: block;">
                            <div class="imgDv">
                                <img :src="'http://crm.xiaoying.net'+n.pic" alt="" v-if="n.pic">
                                <img src="../../Public/Common/img/class/class.jpg" alt="" v-else>
                            </div>
                            <div class="inner">
                                <h4 :title="n.name">{{n.name}}</h4>
                                <p>开始时间：{{n.start_time | filtertime}} | {{n.section_num}}课时
                                    <br />{{n.teacher_name | filtername}}</p>
                                <div class="detailinfo clearfix">
                                    <div class="price">
                                        立即报名
                                    </div>
                                    <div class="enroll">{{n.people_num}}人报名</div>
                                </div>
                            </div>
                        </a>
                    </li>
			    </ul>
			</div>
        </div>
    </div>
    <div class="xy_cover" id="video_part">
    </div>
    <include file="./Template/Common/View_footer.html" />
    <script src="/Public/vue.min.js"></script>
    <script src="/Public/plugin/swiper2/idangerous.swiper.min.js"></script>
    <script src="../../Public/Mall/js/scrollReveal.min.js"></script>
    <script src="__PUBLIC__/Mall/js/class_detail.js?v=201810291448"></script>
    <script type="text/javascript">

        $(function(){
            window.onload = function() {
                $('#desc_content img').each(function() {
                    $(this).attr("src","http://crm.xiaoying.net"+$(this).attr("src"));
                })
            }
        });
        
    </script>
</body>

</html>