<link rel="stylesheet" href="../../Public/Mall/css/lefttoolbar.css">
<div class="lefttoolbar">
    <div class="innercco zixun" onclick="_MEIQIA('showPanel')">
        <img src="../../Public/Mall/img/ic_CustomerService@1x.png" alt="">
        <span>在线咨询</span>
        <div class="pop">点击开始 <strong>在线咨询</strong></div>
    </div>
    <div class="innercco telzixun">
        <img src="../../Public/Mall/img/ic_phone@1x.png" alt="">
        <span>电话咨询</span>
        <div class="pop"><a href="tel:4000150170">4000150170</a></div>
    </div>
    <div class="innercco wechat">
        <img src="../../Public/Mall/img/ic_wechat@1x.png" alt="">
        <span>查看公众号</span>
        <div class="pop">
            <img src="../../Public/Mall/img/social.png" alt="">
        </div>
    </div>
</div>