<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>课件预览</title>
    <script src="/Public/Mobile/js/flexible.js"></script>
    <link rel="stylesheet" type="text/css" href="/Public/Mobile/css/kejian.css" />
    <script src="/Public/vue.min.js"></script>
</head>

<body>
    http://crm.xiaoying.net/./Uploads/201810/12/5bc0701ea04105209.pptx
    <div class="shui">小莺出国</div>
</body>
<script src="/Public/Mobile/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/Public/plugin/pdf.js"></script>
<script>
function getQueryString(name, needdecoed) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var lh = window.location.search;
    if (needdecoed) {
        lh = decodeURI(window.location.search)
    }
    var r = lh.substr(1).match(reg);
    if (r != null) return unescape(r[2]);
    return "";
}
pdfjsLib.getDocument("http://crm.xiaoying.net/Uploads/201809/16/5b9df2dd7967c1098.pdf").then(function getPdfHelloWorld(pdf) {

        for (var i = 0; i < pdf.numPages; i++) {
            //
            // 获取第i页
            //
            pdf.getPage(i).then(function getPageHelloWorld(page) {
                var scale = 1.5;
                var viewport = page.getViewport(scale);

                //
                // Prepare canvas using PDF page dimensions
                //
                var canvas = document.createElement('canvas');
                var context = canvas.getContext('2d');
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                // 这里拿body当pdf容器
                document.body.appendChild(canvas);

                //
                // Render PDF page into canvas context
                //
                page.render({ canvasContext: context, viewport: viewport });
            });
        }

    });
</script>
</html>