<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>留学商城-小莺出国</title>
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="yes" name="apple-touch-fullscreen">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="telephone=no,email=no" name="format-detection">
		<!-- flexible.js 建议做内联处理，请勿移动位置 -->
		<script src="/Public/Mobile/js/flexible.js"></script>
		<link rel="icon" href="__PUBLIC__/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="/Public/Mobile/css/class_index.css?v=201810191430" />
		<link rel="stylesheet" type="text/css" href="/Public/Mobile/font-awesome-4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="/Public/Mobile/css/swiper.min.css" />
		<script src="/Public/vue.min.js"></script>
	</head>

	<body>
		<div id="_class">
			<div class="header">
				<a href="#" class="a_logo">
					<img class="logo" src="/Public/Mobile/img/logo2.png" />
				</a>
				<div v-if="profile.result" class="profile">
					<a  href="/m/home" class="headpic">
					<img v-if="pro_profile.profile.headpic" :src="pro_profile.profile.headpic"/>
					<img v-else src="/Public/Mobile/img/head_img.png" />
					</a>
					<a href="javascript:;" class="h_out">退出</a>
				</div>
				<div  v-else>
					<a href="/m/login">登录</a><i>|</i>
					<a href="/m/register">注册</a>
				</div>
			</div>
			<div class="banner">
				<img src="/Public/Mobile/img/banner.jpg" />
			</div>
			<div class="titleDv">
				<span class="span">
					原汁原味的 日本名校教学团队
				</span>
			</div>
			<ul class="teamul">
				<li class="itemli">
					<img src="/Public/Mobile/img/team_a.png" alt="">
					<p class="a_p">专属教学团队</p>
					<p class="b_p">小莺具备近百名专业教学研究团队，针对留学日语，日本大学考试面试进行深入研究提供专业课程</p>
				</li>
				<li class="itemli">
					<img src="/Public/Mobile/img/team_b.png" alt="">
					<p class="a_p">严选日本外教</p>
					<p class="b_p">从不妥协成本，坚持选择认真负责，具备丰富教学经验的日本本土外教</p>
				</li>
				<li class="itemli">
					<img src="/Public/Mobile/img/team_c.png" alt="">
					<p class="a_p">自主研发教材</p>
					<p class="b_p">历经十年开发，形成一套融合留学日语，日语外教口语能力的一套完善教学体系</p>
				</li>
				<li class="itemli">
					<img src="/Public/Mobile/img/team_d.png" alt="">
					<p class="a_p">签约保证承诺</p>
					<p class="b_p">签约保证，未能达到效果，持续辅导，提高能力</p>
				</li>
			</ul>
			<div class="titleDv" style="border-top: 8px solid #fdfbfb;">
				<span class="span">
					专属小莺出国 热门课程
				</span>
			</div>
			<!-- 修士考试课程 -->
			<div class="content modular xiushi-wapper">
				<div class="_swiper">
					<h3 class="s_titleDv">修士考试课程</h3>
					<ul class="groupDv">
						<li class="js-change active" data-num="0">最新发布</li>
						<li class="js-change" data-num="1">最多报名</li>
					</ul>

                    <div class="swiper-container-xiushi home_index_swiper_container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-no-swiping">
								<ul class="class_list">
									<li v-for="item in xiushi.by_new">
										<a :href="'/m/myclass/opencourse/detail?id='+item.id+'&type=class'">
											<p class="item_img">
												<img :src="'http://crm.xiaoying.net'+item.pic" alt="" v-if="item.pic">
			                                    <img src="__PUBLIC__/Common/img/class/class.jpg" alt="" v-else>
											</p>
											<p class="item_title">{{item.name}}</p>
											<p class="item_time">时间: {{item.start_time | filtertime}} | {{item.section_num}}课节</p>
											<p class="item_teacher">讲师: {{item.teacher_name | filtername}}</p>
											<p class="item_deta"><span>立即报名</span><span>{{item.people_num}}人</span></p>
										</a>
									</li>
								</ul>
							</div>
                            <div class="swiper-slide swiper-no-swiping">
								<ul class="class_list">
									<li v-for="item in xiushi.by_people">
										<a :href="'/m/myclass/opencourse/detail?id='+item.id+'&type=class'">
											<p class="item_img">
												<img :src="'http://crm.xiaoying.net'+item.pic" alt="" v-if="item.pic">
			                                    <img src="__PUBLIC__/Common/img/class/class.jpg" alt="" v-else>
											</p>
											<p class="item_title">{{item.name}}</p>
											<p class="item_time">时间: {{item.start_time | filtertime}} | {{item.section_num}}课节</p>
											<p class="item_teacher">讲师: {{item.teacher_name | filtername}}</p>
											<p class="item_deta"><span>立即报名</span><span>{{item.people_num}}人</span></p>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="spinner"><i class="fa fa-spinner fa-pulse"></i>加载更多...</div> -->
			</div>
			<!-- 签约保送课程 -->
			<div class="content modular qianyue-wapper">
				<div class="_swiper">
					<h3 class="s_titleDv">签约保送课程</h3>
					<ul class="groupDv">
						<li class="js-change active" data-num="0">最新发布</li>
						<li class="js-change" data-num="1">最多报名</li>
					</ul>
                    <div class="swiper-container-qianyue home_index_swiper_container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-no-swiping">
								<ul class="class_list">
									<li v-for="item in qianyue.by_new">
										<a :href="'/m/myclass/opencourse/detail?id='+item.id+'&type=class'">
											<p class="item_img">
												<img :src="'http://crm.xiaoying.net'+item.pic" alt="" v-if="item.pic">
			                                    <img src="__PUBLIC__/Common/img/class/class.jpg" alt="" v-else>
											</p>
											<p class="item_title">{{item.name}}</p>
											<p class="item_time">时间: {{item.start_time | filtertime}} | {{item.section_num}}课节</p>
											<p class="item_teacher">讲师: {{item.teacher_name | filtername}}</p>
											<p class="item_deta"><span>立即报名</span><span>{{item.people_num}}人</span></p>
										</a>
									</li>
								</ul>
							</div>
                            <div class="swiper-slide swiper-no-swiping">
								<ul class="class_list">
									<li v-for="item in qianyue.by_people">
										<a :href="'/m/myclass/opencourse/detail?id='+item.id+'&type=class'">
											<p class="item_img">
												<img :src="'http://crm.xiaoying.net'+item.pic" alt="" v-if="item.pic">
			                                    <img src="__PUBLIC__/Common/img/class/class.jpg" alt="" v-else>
											</p>
											<p class="item_title">{{item.name}}</p>
											<p class="item_time">时间: {{item.start_time | filtertime}} | {{item.section_num}}课节</p>
											<p class="item_teacher">讲师: {{item.teacher_name | filtername}}</p>
											<p class="item_deta"><span>立即报名</span><span>{{item.people_num}}人</span></p>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 留考校内考课程 -->
			<div class="content modular liukao-wapper">
				<div class="_swiper">
					<h3 class="s_titleDv">留考校内考课程</h3>
					<ul class="groupDv">
						<li class="js-change active" data-num="0">最新发布</li>
						<li class="js-change" data-num="1">最多报名</li>
					</ul>
                    <div class="swiper-container-liukao home_index_swiper_container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-no-swiping">
								<ul class="class_list">
									<li v-for="item in liukao.by_new">
										<a :href="'/m/myclass/opencourse/detail?id='+item.id+'&type=class'">
											<p class="item_img">
												<img :src="'http://crm.xiaoying.net'+item.pic" alt="" v-if="item.pic">
			                                    <img src="__PUBLIC__/Common/img/class/class.jpg" alt="" v-else>
											</p>
											<p class="item_title">{{item.name}}</p>
											<p class="item_time">时间: {{item.start_time | filtertime}} | {{item.section_num}}课节</p>
											<p class="item_teacher">讲师: {{item.teacher_name | filtername}}</p>
											<p class="item_deta"><span>立即报名</span><span>{{item.people_num}}人</span></p>
										</a>
									</li>
								</ul>
							</div>
                            <div class="swiper-slide swiper-no-swiping">
								<ul class="class_list">
									<li v-for="item in liukao.by_people">
										<a :href="'/m/myclass/opencourse/detail?id='+item.id+'&type=class'">
											<p class="item_img">
												<img :src="'http://crm.xiaoying.net'+item.pic" alt="" v-if="item.pic">
			                                    <img src="__PUBLIC__/Common/img/class/class.jpg" alt="" v-else>
											</p>
											<p class="item_title">{{item.name}}</p>
											<p class="item_time">时间: {{item.start_time | filtertime}} | {{item.section_num}}课节</p>
											<p class="item_teacher">讲师: {{item.teacher_name | filtername}}</p>
											<p class="item_deta"><span>立即报名</span><span>{{item.people_num}}人</span></p>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 热门公开课 -->
			<div class="content modular gongkai-wapper">
				<div class="_swiper">
					<h3 class="s_titleDv">热门公开课</h3>
					<ul class="groupDv">
						<li class="js-change active" data-num="0">最新发布</li>
						<li class="js-change" data-num="1">最多报名</li>
					</ul>
                    <div class="swiper-container-gongkai home_index_swiper_container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-no-swiping">
								<ul class="class_list">
									<li v-for="item in gongkai.by_new">
										<a :href="'/m/myclass/opencourse/detail?id='+item.id+'&type=class'">
											<p class="item_img">
												<img :src="'http://crm.xiaoying.net'+item.pic" alt="" v-if="item.pic">
			                                    <img src="__PUBLIC__/Common/img/class/class.jpg" alt="" v-else>
											</p>
											<p class="item_title">{{item.name}}</p>
											<p class="item_time">时间: {{item.start_time | filtertime}} | {{item.section_num}}课节</p>
											<p class="item_teacher">讲师: {{item.teacher_name | filtername}}</p>
											<p class="item_deta"><span>立即报名</span><span>{{item.people_num}}人</span></p>
										</a>
									</li>
								</ul>
							</div>
                            <div class="swiper-slide swiper-no-swiping">
								<ul class="class_list">
									<li v-for="item in gongkai.by_people">
										<a :href="'/m/myclass/opencourse/detail?id='+item.id+'&type=class'">
											<p class="item_img">
												<img :src="'http://crm.xiaoying.net'+item.pic" alt="" v-if="item.pic">
			                                    <img src="__PUBLIC__/Common/img/class/class.jpg" alt="" v-else>
											</p>
											<p class="item_title">{{item.name}}</p>
											<p class="item_time">时间: {{item.start_time | filtertime}} | {{item.section_num}}课节</p>
											<p class="item_teacher">讲师: {{item.teacher_name | filtername}}</p>
											<p class="item_deta"><span>立即报名</span><span>{{item.people_num}}人</span></p>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<p>
				<a href="tel:4000-150-170">热线电话：4000-150-170</a><br />小莺教育科技有限公司 苏ICP备17069390号</p>
		</div>
	</body>
	<script src="/Public/Mobile/js/jquery-3.1.1.min.js"></script>
	<script src="/Public/Mobile/js/swiper.min.js"></script>
	<script src="/Public/Mobile/js/jquery.cookie.js"></script>
	<script>
		var _page = 1;
		var num = 1;
		var _class = new Vue({
			el: "#_class",
			filters: {
	            filtertime: function(val){
	                if (val) {
	                    val = val.substring(0,10)
	                    return val;
	                }else{
	                    return '2018-09-01';
	                }
	            },
	            filtername: function(val){
	                if (val) {
	                    var s = val.split('@')[0];
	                    return s;
	                }else{
	                    return '小莺出国官方教务';
	                }
	            },
	            filterprice: function(val) {
	                var s = val.split('.')[0];
	                return s;
	            },
	            filterFace: function(val) {
	                if (val != null) {
	                    return val
	                } else {
	                    return '/Public/random/student/' + Math.floor(Math.random() * 10 + 1) + '.jpg'
	                }
	            }
	        },
			data: {
				data: {},
				init: {},
				profile:{},
				pro_profile:{},
	            qianyue:[],
	            gongkai:[],
	            liukao:[],
	            xiushi:[]
			},
			methods: {
				get_data: function(a, b, c) {
					var _this = this;
	                $.ajax({
	                    type: "post",
	                    url: "/api/mall",
	                    success: function(res) {
	                        if (res.result) {
	                            _this.qianyue = res.data.banji.baolu;
	                            _this.gongkai = res.data.banji.gongkai;
	                            _this.liukao = res.data.banji.liukao;
	                            _this.xiushi = res.data.banji.xiushi;

	                            _this.$nextTick(function(){
	                                var swiper = new Swiper('.home_index_swiper_container .swiper-container', {
	                                    // pagination: {
	                                    //     el: '.swiper-pagination',
	                                    //     clickable :true,
	                                    // },
	                                    loop: true,
	                                    autoplay:{
	                                        delay: 3000,
	                                        disableOnInteraction: false,
	                                    },
	                                });
	                                var swiperxiushi = new Swiper('.swiper-container-xiushi');
	                                var swiperqianyue = new Swiper('.swiper-container-qianyue');
	                                var swiperliukao = new Swiper('.swiper-container-liukao');
	                                var swipergongkai = new Swiper('.swiper-container-gongkai');
	                                

	                                $('.js-change').on('click',function(){
	                                    var index = $(this).data('num')
	                                    $(this).addClass('active');
	                                    $(this).siblings('.js-change').removeClass('active');
	                                    if ($(this).parents('.modular').hasClass('xiushi-wapper')) {
	                                        swiperxiushi.slideTo(index, 300, false)
	                                    }
	                                    if ($(this).parents('.modular').hasClass('qianyue-wapper')) {
	                                        swiperqianyue.slideTo(index, 300, false)
	                                    }
	                                    if ($(this).parents('.modular').hasClass('liukao-wapper')) {
	                                        swiperliukao.slideTo(index, 300, false)
	                                    }
	                                    if ($(this).parents('.modular').hasClass('gongkai-wapper')) {
	                                        swipergongkai.slideTo(index, 300, false)
	                                    }
	                                })
	                            })
	                        }
	                    }
	                })
				},
				get_profile:function(){
					var _self_p = this;
					$.ajax({
						type:"post",
						url:"/api/profile",
						success:function(res){
							_self_p.profile = res
							if(res.info && res.info.profile.headpic != null && res.info.profile.headpic.toString()[0] =="."){
								res.info.profile.headpic = res.info.profile.headpic.toString().substring(1)
							}
							_self_p.pro_profile = res.info
						}
					});
				}
				
			},
			mounted() {
				$(document).on("click", ".con_tab>span", function() {
					 num = 1
					if(!$(this).hasClass("active_tab")) {
						$(".con_tab>span").removeClass();
						$(this).addClass("active_tab")

					} else {
						$(this).removeClass("active_tab")
					}
					var arry = [];
					for(var i = 0; i < $(".active_condition").length; i++) {
						arry.push($(".active_condition").eq(i).attr("data_id"))
					}
					_class.get_data($(".active_tab").attr("data_id"), arry, _page)
				})

				$(document).on("click", ".condition .swiper-slide", function() {
					 num = 1
					if(!$(this).hasClass("active_condition")) {
						$(this).addClass("active_condition")
					} else {
						$(this).removeClass("active_condition")
					}
					var arry = [];
					for(var i = 0; i < $(".active_condition").length; i++) {
						arry.push($(".active_condition").eq(i).attr("data_id"))
					}
					_class.get_data($(".active_tab").attr("data_id"), arry, _page)
				})
				
				$(document).on('click', '.h_out', function() {
					$.ajax({
						type: "post",
						url: "/api/logout",
						success: function(data) {
							if(data.result){
							forget()
							window.location.href = "/m/login"	
							}
							
						}
					});
				})
			},

			updated() {
				$(window).scroll(function() {　　
					var scrollTop = $(this).scrollTop();　　
					var scrollHeight = $(document).height();　　
					var windowHeight = $(this).height();　　
					if(scrollTop + windowHeight == scrollHeight) {

						if($(".class_list>li").length >= 6 * (num++)) {
							
							var _arry = [];
							for(var i = 0; i < $(".active_condition").length; i++) {
								_arry.push($(".active_condition").eq(i).attr("data_id"))
							}
							$(".spinner").show()
							var timer = setTimeout(function(){
									$.ajax({
								type: "post",
								dataType: "json",
								data: {
									livecate: $(".active_tab").attr("data_id"),
									livecontent: _arry,
									page: num,
									init: 1,
									limit:6
								},
								url: "/api/open",
								success: function(res) {
									if(res.result) {
										if(res.lists.length<6){
											$(".spinner").text("没有更多了...")
										}else{
											$(".spinner").fadeOut("fast")
										}
										
										
										for(var i = 0; i < res.lists.length; i++) {
											if(res.lists[i].t_img_url != null && res.lists[i].t_img_url.toString()[0] =="."){
												res.lists[i].t_img_url = res.lists[i].t_img_url.toString().substring(1)
											}
										_class.data.lists.push(res.lists[i])
										}
									}
								}
							});
							},500)
						
						}　　

					}
				});
				function tab_width(){
					var _width = 0;
					for (var i = 0; i < $(".con_tab>span").length; i++) {
						_width +=  $(".con_tab>span").eq(i).width()+16
					}
					$(".con_tab").width(_width)
					if($(".con_tab>span").length<=3){
						$(".con_tab>span").css({
							"float":"none",
						})
					}
					
				}
				
				tab_width()
			},

		})
		_class.get_data("", "", _page)
		_class.get_profile()
		
		function forget() {
			$.cookie("rmbUser", "false", {
				expire: -1
			});
			$.cookie("username", "", {
				expires: -1
			});
			$.cookie("password", "", {
				expires: -1
			});
		}
		
	</script>

</html>