<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie lt-ie9 lt-ie8 lt-ie7" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie9 lt-ie8" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if lt IE 10]>
<html class="ie ltie10" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>教师团队-小莺出国</title>
    <link rel="stylesheet" href="__PUBLIC__/Common/css/reset.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Common/css/common.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="__PUBLIC__/Open/css/animate.min.css">
    <link rel="stylesheet" href="https://www.swiper.com.cn/dist/css/swiper.min.css">
    <link rel="stylesheet" href="__PUBLIC__/teacher/css/index.css?v=201809281221">
    <script type="text/javascript" src="__PUBLIC__/Open/js/jquery-1.9.1.min.js"></script>
</head>

<body>
    <include file="./Template/Common/View_header_class.html" />
    <div id="teacher" class="marginTop" style="margin-top: 75px">
        <div class="">
            <div class="banner">
                <img src="../../Public/teacher/img/banner.jpg" alt="">
            </div>
            <div class="container intro">
                <ul class="list">
                    <li class="item" style="border-top:8px solid #dc1015;">
                        <img src="../../Public/teacher/img/a1.png" alt="">
                        <p>
                            <span>日本外教</span> 日本本地名校精英任选学习原汁原味地道发音。
                        </p>
                    </li>
                    <li class="item" style="border-top:8px solid #ffd900;">
                        <img src="../../Public/teacher/img/a2.png" alt="">
                        <p>
                            <span>全球资质认证</span> TOP5名师教育，免费留学规划海量留学资料。
                        </p>
                    </li>
                    <li class="item" style="border-top:8px solid #5b9c74;">
                        <img src="../../Public/teacher/img/a3.png" alt="">
                        <p>
                            <span>一对一专属名师上课</span> 每一个孩子将会有专属于一个名师上课，让孩子成为老师的朋友。
                        </p>
                    </li>
                </ul>
            </div>
            <div class="step">
                <div class="titleDv">
                    <span>严格的名师录用标准</span> TOP5日本大学名师和业内知名留学规划顾问
                </div>
                <img src="../../Public/teacher/img/step_bg.jpg" alt="" class="step_bg">
                <div class="container">
                    <img src="../../Public/teacher/img/teacher.png" alt="" class="teacher">
                    <div class="a">
                        <img src="../../Public/teacher/img/b1.png" alt="">
                        <p style="color: #81d6c2;">简历筛选</p>
                    </div>
                    <div class="b">
                        <img src="../../Public/teacher/img/b2.png" alt="">
                        <p style="color: #ebac4c;">资质审核</p>
                    </div>
                    <div class="c">
                        <img src="../../Public/teacher/img/b3.png" alt="">
                        <p style="color: #76cbf0;">试讲上课</p>
                    </div>
                    <div class="d">
                        <img src="../../Public/teacher/img/b4.png" alt="">
                        <p style="color: #df7a97;">培训上岗</p>
                    </div>
                    <div class="e">
                        <img src="../../Public/teacher/img/b5.png" alt="">
                        <p style="color: #ffd900;">考核分数</p>
                    </div>
                </div>
            </div>
            <div class="waijiao container">
                <div class="titleDv">
                    <span>严选海外名师团队</span>具备丰富教学与留学规划经验
                </div>
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide clearfix" style="background-image:url('../../Public/teacher/img/sliderbg.png')" v-for="n in academic">
                            <img :src="n.img" alt="" class="t_img">
                            <div class="info">
                                <h4><font style="font-size: 20px; font-weight: 600">{{n.name}}</font> 老师</h4>
                                <p>
                                    {{n.job}}
                                    <br />{{n.desc}}
                                </p>
                            </div>
                            <div class="trans">
                                <img src="../../Public/teacher/img/trans.png" alt="">
                                <p><font style="font-size: 22px; color: #000;">金牌讲师</font><br />Gold lecturer</p>
                            </div>
                            <a href="javascript:;" class="mes_now" onclick="_MEIQIA('showPanel')">立即咨询</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="n in academic">
                            <img :src="n.img" alt="" class="s_img">
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
            </div>
        </div>
    </div>
    <include file="./Template/Common/View_footer.html" />
    <script src="/Public/vue.min.js"></script>
    <script src="__PUBLIC__/Open/js/jqPaginator/jqPaginator.min.js"></script>
    <script src="https://www.swiper.com.cn/dist/js/swiper.js"></script>
    <script src="__PUBLIC__/teacher/js/index.js?v=201809281222"></script>
</body>

</html>