<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie lt-ie9 lt-ie8 lt-ie7" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie9 lt-ie8" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if lt IE 10]>
<html class="ie ltie10" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>课程体系-小莺出国</title>
    <link rel="stylesheet" href="__PUBLIC__/Common/css/reset.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Common/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Open/css/animate.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Lessonintor/css/index.css">
    <script type="text/javascript" src="__PUBLIC__/Open/js/jquery-1.9.1.min.js"></script>
</head>

<body>
    <include file="./Template/Common/View_header_class.html" />
    <div class="marginTop">
        <div class="banner">
            <img src="../../Public/Lessonintor/img/banner.jpg" alt="">
            <div class="container">
                <p class="banner_a">个性化课程体系</p>
                <p class="banner_b">从不妥协成本，坚持选择认真负责，具备丰富教学<br />经验的日本本土外教和名校中教教学团队</p>
                <a href="javascript:;" class="zixun" onclick="_MEIQIA('showPanel')">
                    <img src="../../Public/Common/img/zixun.png" alt="">
                </a>
            </div>
        </div>
        <div class="container">
            <ul class="intro">
                <li class="item">
                    <img src="../../Public/Lessonintor/img/ic_level@1x.png" alt="">
                    <p><span>个性化的课程设计</span>我们的课程包含了核心主干课程如专业课课程、论文写作课程、真题辅导课程、面试辅导课程等，还包含了丰富的选修课内容，VIP一对一辅导提分课程机具个性化的授课内容。</p>
                </li>
                <li class="item">
                    <img src="../../Public/Lessonintor/img/ic_books@1x.png" alt="">
                    <p><span>业内最全面的课程体系</span>经过20年的发展，小莺出国建设健全了日本私塾业内最全面的课程体系，这在私塾业内是难以想象也是史无前例的，正是这样全面的课程体系保证了每一位学员都能在小莺找到适合自己的课程。</p>
                </li>
                <li class="item">
                    <img src="../../Public/Lessonintor/img/ic_teaching@1x.png" alt="">
                    <p><span>完善的售后服务和班主任制度</span>已报名的学员都会交接给自己的班主任老师，由班主任老师定时跟踪与照看学习，生活。班主任老师通过后台管理系统及时查询学员的出勤状况、、记录考学进度、规划考学方案等。</p>
                </li>
            </ul>
            <div class="major">
                <div class="titleDv">
                    18阶段语言与专业课教学体系
                    <br /><span>根据一对一测评结果，选择不同级别的主修课程</span>
                </div>
                <div class="major-table">
                    <div class="lesson-level clearfix">
                        <p class="lv lv01">
                            <span>1</span>
                        </p>
                        <p class="lv lv02">
                            <span>2</span>
                        </p>
                        <p class="lv lv03">
                            <span>3</span>
                        </p>
                        <p class="lv lv04">
                            <span>4</span>
                        </p>
                        <p class="lv lv05">
                            <span>5</span>
                        </p>
                        <p class="lv lv06">
                            <span>6</span>
                        </p>
                        <p class="lv lv07">
                            <span>7</span>
                        </p>
                        <p class="lv lv08">
                            <span>8</span>
                        </p>
                        <p class="lv lv09">
                            <span>9</span>
                        </p>
                        <p class="lv lv10">
                            <span>10</span>
                        </p>
                        <p class="lv lv11">
                            <span>11</span>
                        </p>
                        <p class="lv lv12">
                            <span>12</span>
                        </p>
                        <p class="lv lv13">
                            <span>13</span>
                        </p>
                        <p class="lv lv14">
                            <span>14</span>
                        </p>
                        <p class="lv lv15">
                            <span>15</span>
                        </p>
                        <p class="lv lv16">
                            <span>16</span>
                        </p>
                        <p class="lv lv17">
                            <span>17</span>
                        </p>
                        <p class="lv lv18">
                            <span>18</span>
                        </p>
                    </div>
                    <div class="group-wrap">
                        <div class="group-item group-item-row1 list3 clearfix ">
                            <div class="rank-type">小莺等级</div>
                            <div class="list">入门学员</div>
                            <div class="list">进阶学员</div>
                            <div class="list">名校种子学员</div>
                        </div>
                        <div class="group-item group-item-row2 list5 clearfix ">
                            <div class="rank-type">JLPT能力考</div>
                            <div class="list">N5</div>
                            <div class="list">N4</div>
                            <div class="list">N3</div>
                            <div class="list">N2</div>
                            <div class="list">N1</div>
                        </div>
                        <div class="group-item group-item-row3 list2 clearfix ">
                            <div class="rank-type">J.Test考试</div>
                            <div class="list">E-F</div>
                            <div class="list">A-D</div>
                        </div>
                        <div class="group-item group-item-row4 list5 clearfix ">
                            <div class="rank-type">能力侧重</div>
                            <div class="list">夯实词汇基础</div>
                            <div class="list">提高写作与表达能力</div>
                            <div class="list">夯实基础知识</div>
                            <div class="list">提高实战能力</div>
                            <div class="list">个性化查漏补缺研究院校对策</div>
                        </div>
                        <div class="group-item group-item-row5 list5 clearfix ">
                            <div class="rank-type">专业课复习</div>
                            <div class="list">专业术语复习</div>
                            <div class="list">基础考点中文版本学习</div>
                            <div class="list">留学考试/修士考</div>
                            <div class="list">校论文/研究计划</div>
                            <div class="list">校内考/面试</div>
                        </div>
                        <div class="group-item group-item-row6 list5 list6 clearfix ">
                            <div class="rank-type" style="height: 80px;line-height: 80px;">完成目标</div>
                            <div class="list">
                                <div class="s_inner">留学日语100分</div>
                            </div>
                            <div class="list">
                                <div class="s_inner">留学日语200分</div>
                            </div>
                            <div class="list">
                                <div class="s_inner">留学日语300分+专业课考试</div>
                            </div>
                            <div class="list">
                                <div class="s_inner">专业课考试正确率80%</div>
                            </div>
                            <div class="list">
                                <div class="s_inner">攻克名校校内考</div>
                            </div>
                        </div>
                        <div class="group-item group-item-row7 clearfix ">
                            <div class="rank-type">小莺课程</div>
                            <div class="list">
                                <p>1.日语入门
                                    <br>2.留学考试专业词汇
                                    <br>3.留学专业课中文版基础课程
                                    <br>4.写作与会话课程</p>
                            </div>
                            <div class="list">
                                <p>1.专业课高级课
                                    <br>2.专业课单科提分课
                                    <br>3.外教口语课
                                    <br>4.小论文/研究计划书写作课
                                    <br>5.留学面试课程</p>
                            </div>
                            <div class="list">
                                <p>1.1对1个性化提分课
                                    <br>2.国公立大学校内考对策
                                    <br>3.私立大学校内考对策
                                    <br>4.校内考1对1考前个性化辅导</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="forginert">
                <div class="titleDv">
                    全方位立体的能力提升课程
                    <br /><span>提高实战能力，应对多变的大学校内考考试需求</span>
                </div>
                <ul class="list">
                    <li class="item">
                        <div class="info">
                            <p class="desc">
                                <span>写作能力</span> 提高语言输出能力，让语言真正成为交流工具
                            </p>
                            <div class="imgDv">
                                <img src="../../Public/Lessonintor/img/cir_1.png" alt="">
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="info">
                            <p class="desc">
                                <span>日本文化</span> 从历史，地理，人文等角度去学习以及理解日本文化
                            </p>
                            <div class="imgDv">
                                <img src="../../Public/Lessonintor/img/cir_2.png" alt="">
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="info">
                            <p class="desc">
                                <span>科普百科</span> 用日语探索数学，地理，科学等学科知识
                            </p>
                            <div class="imgDv">
                                <img src="../../Public/Lessonintor/img/cir_3.png" alt="">
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="info">
                            <p class="desc">
                                <span>兴趣爱好</span> 跟着外教探索音乐，绘画，电影等艺术作品
                            </p>
                            <div class="imgDv">
                                <img src="../../Public/Lessonintor/img/cir_4.png" alt="">
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="info">
                            <p class="desc">
                                <span>口语提升</span> 提升专业问题讨论与沟通能力，真正为进入大学学习打好基础
                            </p>
                            <div class="imgDv">
                                <img src="../../Public/Lessonintor/img/cir_5.png" alt="">
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="info">
                            <p class="desc">
                                <span>演讲与口才</span> 通过主题式的辩论锻炼学生的材料整理能力和表达能力
                            </p>
                            <div class="imgDv">
                                <img src="../../Public/Lessonintor/img/cir_6.png" alt="">
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="info">
                            <p class="desc">
                                <span>升学指导</span> 升学笔试，面试的讲解和指导
                            </p>
                            <div class="imgDv">
                                <img src="../../Public/Lessonintor/img/cir_7.png" alt="">
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="info">
                            <p class="desc">
                                <span>逻辑思维</span> 学生学会制作思维导图，进行有逻辑的思考，拥有批判意识
                            </p>
                            <div class="imgDv">
                                <img src="../../Public/Lessonintor/img/cir_8.png" alt="">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="school">
                <div class="titleDv">
                    合作院校
                    <br /><span>源源不断的向日本名校输送人才，同时获得院校的高度认可</span>
                </div>
                <ul class="list">
                    <li class="item">
                        <div class="inner">
                            <img src="../../Public/Lessonintor/img/dongjing.png" alt="">
                        </div>
                        <p>东京大学</p>
                    </li>
                    <li class="item">
                        <div class="inner">
                            <img src="../../Public/Lessonintor/img/jingdu.png" alt="">
                        </div>
                        <p>东都大学</p>
                    </li>
                    <li class="item">
                        <div class="inner">
                            <img src="../../Public/Lessonintor/img/daban.png" alt="">
                        </div>
                        <p>大阪大学</p>
                    </li>
                    <li class="item">
                        <div class="inner">
                            <img src="../../Public/Lessonintor/img/dongbei.png" alt="">
                        </div>
                        <p>东北大学</p>
                    </li>
                    <li class="item">
                        <div class="inner">
                            <img src="../../Public/Lessonintor/img/dongjinggongye.png" alt="">
                        </div>
                        <p>东京工业大学</p>
                    </li>
                    <li class="item">
                        <div class="inner" style="background-color: #2d6a4f;">
                            <img src="../../Public/Lessonintor/img/mingguwu.png" alt="">
                        </div>
                        <p>名古屋大学</p>
                    </li>
                    <li class="item">
                        <div class="inner">
                            <img src="../../Public/Lessonintor/img/hengbin.png" alt="">
                        </div>
                        <p>横滨国立大学</p>
                    </li>
                    <li class="item">
                        <div class="inner">
                            <img src="../../Public/Lessonintor/img/qinyingyishu.png" alt="">
                        </div>
                        <p>庆应义塾大学</p>
                    </li>
                    <li class="item">
                        <div class="inner">
                            <img src="../../Public/Lessonintor/img/liminguan.png" alt="">
                        </div>
                        <p>立命馆大学</p>
                    </li>
                    <li class="item">
                        <div class="inner">
                            <img src="../../Public/Lessonintor/img/zaodaotian.png" alt="">
                        </div>
                        <p>早稻田大学</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <include file="./Template/Common/View_footer.html" />
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
    <script>
        $(".s_nav li").eq(1).addClass('active');
    </script>
</body>

</html>