<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie lt-ie9 lt-ie8 lt-ie7" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie9 lt-ie8" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if lt IE 10]>
<html class="ie ltie10" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>套餐班-小莺出国</title>
    <link rel="stylesheet" href="__PUBLIC__/Common/css/reset.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Common/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Open/css/animate.min.css">
    <link rel="stylesheet" href="__PUBLIC__/FreeClass/css/index.css?v=201809261735">
    <script type="text/javascript" src="__PUBLIC__/Open/js/jquery-1.9.1.min.js"></script>
</head>

<body>
    <include file="./Template/Common/View_header_class.html" />
    <div id="baolu">
        <div class="banner marginTop">
            <img src="./../Public/Common/img/banner/baolu_banner.jpg" alt="">
        </div>
        <div class="classpart">
            <div class="titleDv" data-sr="enter top hustle 50px over 1s">
                <p>
                    热门套餐班
                </p>
            </div>
            <div class="container">
                <div class="container topcondit">
                    <div class="listDv clearfix">
                        <span class="dv_title">热门标签</span>
                        <ul class="list">
                            <li class="item active" @click="condit('category','')">全部</li>
                            <li class="item" data-val="1" @click="condit('category',1)">修士考</li>
                            <li class="item" data-val="2" @click="condit('category',2)">留考校内考</li>
                            <li class="item" data-val="3" @click="condit('category',3)">日语</li>
                            <li class="item" data-val="4" @click="condit('category',4)">艺术</li>
                        </ul>
                    </div>
                </div>
                <div class="s_title">
                    <img src="../../Public/Mall/img/s_xiushi.png" alt="">套餐班
                    <ul class="paixu">
                        <li class="active" @click="condit('sort_by_people_num','')">最新发布</li>
                        <li @click="condit('sort_by_people_num',1)">最多报名</li>
                    </ul>
                    <!-- <a href="">更多课程></a> -->
                </div>
                <ul class="ullist" data-sr="enter top hustle 50px over 1s" id="ullist" style="display: block;">
                    <li class="li item_li" v-for="n in lists">
                        <a :href="'/mall/detail?id='+n.id+'&type=class'" style="display: block;">
                            <div class="imgDv">
                                <img :src="'http://crm.xiaoying.net'+n.pic" alt="" v-if="n.pic">
                                <img src="../../Public/Common/img/class/class.jpg" alt="" v-else>
                            </div>
                            <div class="inner">
                                <h4 :title="n.name">{{n.name}}</h4>
                                <p>开始时间：{{n.start_time | filtertime}} | {{n.section_num}}课时
                                    <br />{{n.teacher_name | filtername}}</p>
                                <div class="detailinfo clearfix">
                                    <div class="price">
                                        立即报名
                                    </div>
                                    <div class="enroll">{{n.people_num}}人报名</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <include file="./Template/Common/View_footer.html" />
    <script src="/Public/vue.min.js"></script>
    <script src="__PUBLIC__/FreeClass/js/baolu.js?v=201809261735"></script>
</body>

</html>